body {
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.title {
    font-size: 72px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-weight:1000;
    text-align: center;
}

.recipes {
    font-size: 28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-align: center;
}

h2 {
    font-size: 24px;
}

h1 {
    font-size: 50px;
}


/* Not quite sure why the li on main page is not aligning to center. Also the links are not changing color */